<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="variableExtractorFactory" class="com.adpanshi.cashloan.data.variable.factory.VariableExtractorFactory">
        <property name="variableExtractorMap">
            <map>

                <entry key="channel_App_Application_VariableExtractor_1_0" value-ref="channel_App_Application_VariableExtractor_1_0"/>
                <entry key="channel_App_CallRecord_VariableExtractor_1_0" value-ref="channel_App_CallRecord_VariableExtractor_1_0"/>
                <entry key="channel_App_Communication_VariableExtractor_1_0" value-ref="channel_App_Communication_VariableExtractor_1_0"/>
                <entry key="channel_App_Complex_VariableExtractor_1_0" value-ref="channel_App_Complex_VariableExtractor_1_0"/>
                <entry key="channel_App_ConsumerLoanHistory_VariableExtractor_1_0" value-ref="channel_App_ConsumerLoanHistory_VariableExtractor_1_0"/>
                <entry key="channel_App_CrossValidationContact_VariableExtractor_1_0" value-ref="channel_App_CrossValidationContact_VariableExtractor_1_0"/>

                <entry key="channel_App_CrossValidationEmergencys_VariableExtractor_1_0" value-ref="channel_App_CrossValidationEmergencys_VariableExtractor_1_0"/>
                <entry key="channel_App_CrossValidationMaster_VariableExtractor_1_0" value-ref="channel_App_CrossValidationMaster_VariableExtractor_1_0"/>
                <entry key="channel_App_CrossValidationPhone_VariableExtractor_1_0" value-ref="channel_App_CrossValidationPhone_VariableExtractor_1_0"/>
                <entry key="channel_App_Device_VariableExtractor_1_0" value-ref="channel_App_Device_VariableExtractor_1_0"/>
                <entry key="channel_App_SMS_VariableExtractor_1_0" value-ref="channel_App_SMS_VariableExtractor_1_0"/>

                <entry key="channel_App_UserBasicInfo_VariableExtractor_1_0" value-ref="channel_App_UserBasicInfo_VariableExtractor_1_0"/>
                <entry key="channel_App_Emergency_VariableExtractor_1_0" value-ref="channel_App_Emergency_VariableExtractor_1_0"/>
                <entry key="channel_Equifax_UserBasicInfo_VariableExtractor_1_0" value-ref="channel_Equifax_UserBasicInfo_VariableExtractor_1_0"/>
                <entry key="channel_Equifax_UserCredit_VariableExtractor_1_0" value-ref="channel_Equifax_UserCredit_VariableExtractor_1_0"/>
                <entry key="channel_Equifax_UserFinance_VariableExtractor_1_0" value-ref="channel_Equifax_UserFinance_VariableExtractor_1_0"/>
                <entry key="channel_MoxieSIMCard_UserBasicInfo_VariableExtractor_1_0" value-ref="channel_MoxieSIMCard_UserBasicInfo_VariableExtractor_1_0"/>

                <entry key="channel_MoxieSIMCard_UserCommunication_VariableExtractor_1_0" value-ref="channel_MoxieSIMCard_UserCommunication_VariableExtractor_1_0"/>
                <entry key="channel_MoxieSNS_UserBaseInfo_VariableExtractor_1_0" value-ref="channel_MoxieSNS_UserBaseInfo_VariableExtractor_1_0"/>
                <entry key="channel_MoxieSNS_UserEducationInfo_VariableExtractor_1_0" value-ref="channel_MoxieSNS_UserEducationInfo_VariableExtractor_1_0"/>
                <entry key="channel_MoxieSNS_UserWorkInfo_VariableExtractor_1_0" value-ref="channel_MoxieSNS_UserWorkInfo_VariableExtractor_1_0"/>
                <entry key="channel_PanCard_Verify_VariableExtractor_1_0" value-ref="channel_PanCard_Verify_VariableExtractor_1_0"/>
                <entry key="channel_TDBodyGuard_DeviceInfo_VariableExtractor_1_0" value-ref="channel_TDBodyGuard_DeviceInfo_VariableExtractor_1_0"/>
            </map>
        </property>
    </bean>

    <bean id="featureExtractorFactory" class="com.adpanshi.cashloan.data.feature.factory.FeatureExtractorFactory">
        <property name="featureExtractorMap">
            <map>
                <entry key="deviceApplication_Verfication_Extractor_1_0" value-ref="deviceApplication_Verfication_Extractor_1_0"/>
                <entry key="basicInfo_Verfication_Extractor_1_0" value-ref="basicInfo_Verfication_Extractor_1_0"/>
                <entry key="address_Cross_Validation_Extrator_1_0" value-ref="address_Cross_Validation_Extrator_1_0"/>
                <entry key="deviceRoot_Verfication_Extractor_1_0" value-ref="deviceRoot_Verfication_Extractor_1_0"/>
                <entry key="fraud_EquifaxFraud_Extractor_1_0" value-ref="fraud_EquifaxFraud_Extractor_1_0"/>
                <entry key="fraud_MoxieSIM_Extractor_1_0" value-ref="fraud_MoxieSIM_Extractor_1_0"/>
                <entry key="social_MoxieSNS_Extractor_1_0" value-ref="social_MoxieSNS_Extractor_1_0"/>
                <entry key="verfication_Communication_Extractor_1_0" value-ref="verfication_Communication_Extractor_1_0"/>
                <entry key="verfication_PanCard_Extractor_1_0" value-ref="verfication_PanCard_Extractor_1_0"/>
                <entry key="callRecord_Cross_Verfication_Extractor_1_0" value-ref="callRecord_Cross_Verfication_Extractor_1_0"/>

            </map>
        </property>
    </bean>
</beans>
