<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- Dubbo配置 -->
    <dubbo:application name="ps-cashloan-data-center" logger="${dubbo.application.logger}"/>
    <!-- 通过 广播通知所有人-->
    <dubbo:registry id="cashloan-data" address="${cashloan.data.registry.address}" protocol="${cashloan.data.registry.protocol}"/>
    <dubbo:protocol name="${protocol.name}" port="${protocol.port}" threads="500"/>
    <dubbo:provider filter="-exception"/>

    <!--<dubbo:service interface="com.adpanshi.cashloan.data.thirdparty.aadhaar.domain.AadhaarRemoteDomain" version="1.0.0" ref="aadhaarDomain" validation="false" timeout="50000" retries="0" registry="cashloan-data"/>-->
    <dubbo:service interface="com.adpanshi.cashloan.data.appdata.domain.AppDataDomain" version="1.0.0" ref="appDataNativeDomain" validation="false" timeout="50000" retries="0" registry="cashloan-data"/>
    <dubbo:service interface="com.adpanshi.cashloan.data.user.domain.UserDataDomain" version="1.0.0" ref="userDataDomain" validation="false" timeout="50000" retries="0" registry="cashloan-data"/>
    <dubbo:service interface="com.adpanshi.cashloan.data.variable.domain.VariableDomain" version="1.0.0" ref="variableDomain" validation="false" timeout="50000" retries="0" registry="cashloan-data"/>
    <dubbo:service interface="com.adpanshi.cashloan.data.feature.domain.FeatureDomain" version="1.0.0" ref="featureDomain" validation="false" timeout="50000" retries="0" registry="cashloan-data"/>
</beans>
